{{#if move}}

<div class="content flexrow pt-1" style="font-variant: normal; padding: 0px ! important;">
    <div class="swsh-box">
        <div class="swsh-header" style="border-bottom: 0px solid #272727; text-align: center; padding: 0px ! important;">
            <div class="d-flex w-100 mt-0 mb-0 justify-content-center" style=";background-color: #272727 ;">
                <span style="padding: 1px;font-family:Modesto Condensed;font-size:40px; color: white; overflow-wrap: normal ! important; word-break: keep-all ! important;">{{move.name}}</span>
            </div>
        </div>
        
        <div class="swsh-header" style="padding: 0px ! important;">
            <div class="d-flex w-100 mt-0 mb-0 h-100" style="padding: 0px ! important;">
                <div class="col" style="padding: 0px ! important;"><span class="type-img"><img src="/modules/PTUMoveMaster/images/icons/{{move.category}}.png" style="width: 124px; height: auto; padding: 0px ! important;"></span></div>
            {{#if isUntyped}}
                <div class="col" style="padding: 0px ! important;"><span class="type-img"><img src="/modules/PTUMoveMaster/images/icons/UntypedIC.png" style="width: 124px; height: auto; padding: 0px ! important;"></span></div>
            {{else}}
                <div class="col" style="padding: 0px ! important;"><span class="type-img"><img src="/modules/PTUMoveMaster/images/icons/{{move.type}}IC.png" style="width: 124px; height: auto; padding: 0px ! important;"></span></div>
            {{/if}}
            </div>
        </div>
        
        <div class="swsh-body" style="background-color: #b3b3b3;">
            {{#if roll}}
            {{#if hasAC}}
                <div class="dice-roll w-100" style="padding: 0px 0px;">
                    <div class="dice-result">
                        <div class="dice-formula">  
                            {{#each roll.terms as | term |}}
                                {{#if term.faces}}
                                    {{#each term.results as |result|}}<span class="roll die d{{term.faces}} {{minMaxDiceCheck result.result term.faces}}">{{result.result}}</span>{{#if @last}}{{else}}+{{/if}}{{/each}}
                                {{else}}{{term}}{{/if}}
                            {{/each}}
                        </div>
                        <span class="dice-total" style="display: inline-flex;justify-content: space-evenly; align-items: center;width:100%;font-family:Modesto Condensed;font-size:38px; color: rgb(0, 0, 0);"><h3 class="num-total">{{roll._total}}</h3><h5>vs {{move.category}} Evasion</h5></span>
                    </div>
                </div>
            {{/if}}
            {{/if}}
            {{#if crit}}
                {{#if (not crit "normal")}}
                    <div class="d-flex w-100 pt-1 pb-1" style="word-break: break-word;text-align: center;border-top: 1px solid #00000080;padding: 5px;">
                        {{#if (is crit "hit")}}
                            <h4>It's a Critical Hit!</h4>
                        {{else}}
                            <h4>It's a Critical Miss!</h4>
                        {{/if}}
                    </div>
                {{/if}}
            {{/if}}
            {{#if damageRoll}}
                <div class="dice-roll w-100" style="border-top: 1px solid #00000080;padding: 10px 5px;">
                    <div class="dice-result">
                        <div class="dice-formula">  
                            {{#each damageRoll.terms as | term |}}
                                {{#if term.faces}}
                                    {{#each term.results as |result|}}<span class="roll die d{{term.faces}} {{minMaxDiceCheck result.result term.faces}}">{{result.result}}</span>{{#if @last}}{{else}}+{{/if}}{{/each}}
                                {{else}}{{term}}{{/if}}
                            {{/each}}
                        </div>
                        <span class="dice-total" style="display: inline-flex;justify-content: space-evenly; align-items: center;width:100%;font-family:Modesto Condensed;font-size:40px;"><h4 class="num-total">{{damageRoll._total}}</h4><h5><button class="automated-damage-button" style="background-color: #800c0c00; font-family:Modesto Condensed;font-size:36px; color: rgb(0, 0, 0); padding: 0px ! important;" data-damage="{{damageRoll._total}}" data-type="{{move.type}}" data-category="{{move.category}}" data-mode="full" data-crit="false">Apply Damage</button></h5></span>
			<div class="row justify-content-center">
            <div><button class="automated-damage-button" style="line-height: 1.0; background-color: #919191; font-family:'Segoe UI';font-size:10px; color: rgb(180, 180, 180); margin-left: 0px ; margin-right: 0px ; height: 20px ; padding-left: 10px; padding-right: 10px;" data-damage="{{damageRoll._total}}" data-type="{{move.type}}" data-category="{{move.category}}" data-mode="half" data-crit="false">1/2 Damage</button></div>
			<div><button class="automated-damage-button" style="line-height: 1.0; background-color: #919191; font-family:'Segoe UI';font-size:10px; color: rgb(180, 180, 180); margin-left: 0px ; margin-right: 0px ; height: 20px ; padding-left: 10px; padding-right: 10px;" data-damage="{{damageRoll._total}}" data-type="{{move.type}}" data-category="{{move.category}}" data-mode="resist" data-crit="false">Resist 1 Step</button></div>
            <div><button class="automated-damage-button" style="line-height: 1.0; background-color: #919191; font-family:'Segoe UI';font-size:10px; color: rgb(180, 180, 180); margin-left: 0px ; margin-right: 0px ; height: 20px ; padding-left: 10px; padding-right: 10px;" data-damage="{{damageRoll._total}}" data-type="{{move.type}}" data-category="{{move.category}}" data-mode="flat" data-crit="false">Flat Damage</button></div>
			</div>
                    </div>
                </div>
            {{/if}}
            {{#if critDamageRoll}}
                <div class="dice-roll w-100" style="border-top: 1px solid #00000080;padding: 10px 5px;">
                    <div class="dice-result">
                        <div class="dice-formula">  
                            {{#each critDamageRoll.terms as | term |}}
                                {{#if term.faces}}
                                    {{#each term.results as |result|}}<span class="roll die d{{term.faces}} {{minMaxDiceCheck result.result term.faces}}">{{result.result}}</span>{{#if @last}}{{else}}+{{/if}}{{/each}}
                                {{else}}{{term}}{{/if}}
                            {{/each}}
                        </div>
                        <span class="dice-total" style="display: inline-flex;justify-content: space-evenly; align-items: center;width:100%;font-family:Modesto Condensed;font-size:40px; line-height: 0.8"><h4 class="num-total">{{critDamageRoll._total}}</h4><h5><button class="automated-damage-button" style=" background-color: #800c0c00; font-family:Modesto Condensed;font-size:36px; color: rgb(0, 0, 0); padding: 0px ! important;" data-damage="{{critDamageRoll._total}}" data-type="{{move.type}}" data-category="{{move.category}}" data-mode="full" data-crit="true">Critical Damage</button></h5></span>
			<div class="row justify-content-center" style="text-align: center;">
			<div><button class="automated-damage-button" style="line-height: 1.0; background-color: #919191; font-family:'Segoe UI';font-size:10px; color: rgb(180, 180, 180); margin-left: 0px ; margin-right: 0px ; height: 20px ; padding-left: 10px; padding-right: 10px;" data-damage="{{critDamageRoll._total}}" data-type="{{move.type}}" data-category="{{move.category}}" data-mode="half" data-crit="true">1/2 Damage</button></div>
			<div><button class="automated-damage-button" style="line-height: 1.0; background-color: #919191; font-family:'Segoe UI';font-size:10px; color: rgb(180, 180, 180); margin-left: 0px ; margin-right: 0px ; height: 20px ; padding-left: 10px; padding-right: 10px;" data-damage="{{critDamageRoll._total}}" data-type="{{move.type}}" data-category="{{move.category}}" data-mode="resist" data-crit="true">Resist 1 Step</button></div>
            <div><button class="automated-damage-button" style="line-height: 1.0; background-color: #919191; font-family:'Segoe UI';font-size:10px; color: rgb(180, 180, 180); margin-left: 0px ; margin-right: 0px ; height: 20px ; padding-left: 10px; padding-right: 10px;" data-damage="{{critDamageRoll._total}}" data-type="{{move.type}}" data-category="{{move.category}}" data-mode="flat" data-crit="true">Flat Damage</button></div>
			</div>
                    </div>
                </div>
            {{/if}}
        </div>

            <div class="swsh-header col-sm-12" style=" background-color: #272727; padding: 0px ! important;">
                <div class="d-flex w-100 mt-1 mb-1 fs-11" style="align-items: center;text-align: center;">
                    <div class="col" style=";font-family:Modesto Condensed;font-size:20px; color: white ; overflow-wrap: normal ! important; word-break: keep-all ! important;">Effect</div>
                </div>
            </div>
            <div class="swsh-body col-sm-12" style="background-color: #b3b3b3;">
                <div class="d-flex w-100 mt-1 mb-1 fs-11" style="align-items: center;text-align: center; background-color: #b3b3b3;">
                    <div class="p-1 readable pokemon p8 tight"
                        style="word-break: break-word;text-align: start;line-height: 16px;font-family:'Segoe UI';font-size:16px;">{{{move.effect}}}</div>
                </div>
            </div>
            <div class="swsh-body col-sm-12" style="background-color: #b3b3b3;">
                <div class="d-flex w-100 mt-1 mb-1 fs-11" style="align-items: center;text-align: center;">
                    <div class="p-1 readable pokemon p8 tight"
                        style="word-break: break-word;text-align: start;line-height: 16px;font-family:Modesto Condensed;font-size:20px;">Frequency: {{{move.frequency}}}</div>
                </div>
                <div class="d-flex w-100 mt-1 mb-1 fs-11" style="align-items: center;text-align: center;">
                    <div class="p-1 readable pokemon p8 tight"
                        style="word-break: break-word;text-align: start;line-height: 16px;font-family:Modesto Condensed;font-size:20px;">Range: {{{move.range}}}</div>
                </div>
                {{#if hasExtraEffect}}
                    <div class="d-flex w-100 mt-1 mb-1 fs-11" style="align-items: center;text-align: center;">
                        <div class="p-1 readable pokemon p8 tight"
                            style="word-break: break-word;text-align: center;line-height: 16px;font-family:Modesto Condensed;font-size:20px;color: #006300;"> {{{extraEffectText}}} </div>
                    </div>
                {{/if}}
            </div>



    </div>
</div>
{{/if}}
